# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp

# Logs
*.log

# Docker / builds
*.tar
build/
dist/